@namespace BlazorBlueprint.Components
@typeparam TData where TData : class

<tr role="row" class="@ClassNames.cn("border-b", Class)">
    <td colspan="@ParentGrid!.VisibleColumnsForDetailRow.Count" class="px-4 py-1.5">
        @ChildContent
    </td>
</tr>
